{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1>Welcome to Bird Watch!</h1>
            <p class="lead">Track your bird sightings</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Make your Profile</h2>
                    <p class="card-text">Start recording your bird sightings today!</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-primary">See Your Bird List</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Bird Sightings!</h2>
                    <p class="card-text">Add new birds and view your current ones.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-primary">View Sightings</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}